// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-400: #1b3d79;
$primary-200: #1b51bf;
$primary-100: #84b7f2;
$disabled-text: #737e8f;
$disabled-bg: #e4e4e4;
$enabled: #096cd9;

$dark-900: #000;

$clear-500: #e6f1fc;
$clear-300: #f7f7f7;
$clear-100: #fff;
